<div class="roll roll-skill warcraft-chat-card">
    {{!-- 1. SEKCJA KOŚCI --}}
    <div class="dice-row">
        {{!-- ZMIANA TUTAJ: Zamiast "Kości", wyświetlamy "Pula kości [Nazwa]" --}}
        <label style="text-transform: none; font-weight: bold; font-size: 13px;">
            Pula kości {{skillLabel}}
        </label>
        
        <div class="dice-container">
            {{#each results.faces as |faces die|}}
                {{#each faces}}
                    <div class="warcraft-die">
                        <img src="{{getWarcraftDiceImage die this}}" title="{{capitalize die}}: {{this}}" />
                    </div>
                {{/each}}
            {{/each}}
        </div>
    </div>

    {{!-- 2. WYNIKI I PODSUMOWANIE (Bez zmian względem poprzedniej wersji) --}}
    <div class="results-row">
        {{#if description}}<div class="roll-description">{{{description}}}</div>{{/if}}

        <label style="display:block; text-align:left; margin-bottom:2px;">{{localize 'Genesys.Rolls.Results'}}</label>
        
        <div class="net-results">
            {{#repeat (sub results.netSuccess results.totalTriumph)}}<img src="{{getWarcraftSymbolImage 's'}}" class="wc-symbol-icon" title="Success" />{{/repeat}}
            {{#repeat (sub results.netFailure results.totalDespair)}}<img src="{{getWarcraftSymbolImage 'f'}}" class="wc-symbol-icon" title="Failure" />{{/repeat}}
            {{#repeat results.netAdvantage}}<img src="{{getWarcraftSymbolImage 'a'}}" class="wc-symbol-icon" title="Advantage" />{{/repeat}}
            {{#repeat results.netThreat}}<img src="{{getWarcraftSymbolImage 'h'}}" class="wc-symbol-icon" title="Threat" />{{/repeat}}
            {{#repeat results.totalTriumph}}<img src="{{getWarcraftSymbolImage 't'}}" class="wc-symbol-icon" title="Triumph" />{{/repeat}}
            {{#repeat results.totalDespair}}<img src="{{getWarcraftSymbolImage 'd'}}" class="wc-symbol-icon" title="Despair" />{{/repeat}}
        </div>

        {{#if (or (gt results.netSuccess 0) (or (gt results.netFailure 0) (or (gt results.netAdvantage 0) (or (gt results.netThreat 0) (or (gt results.totalTriumph 0) (gt results.totalDespair 0))))))}}
            <div class="summary-table">
                {{#if (gt results.netSuccess 0)}}
                    <div class="summary-row">
                        <span class="label">{{localize 'Genesys.Rolls.Summary.Successes'}}</span><span class="count">{{results.netSuccess}}</span>
                    </div>
                {{/if}}
                {{#if (gt results.netFailure 0)}}
                    <div class="summary-row">
                        <span class="label">{{localize 'Genesys.Rolls.Summary.Failures'}}</span><span class="count">{{results.netFailure}}</span>
                    </div>
                {{/if}}
                {{#if (gt results.netAdvantage 0)}}
                    <div class="summary-row">
                        <span class="label">{{localize 'Genesys.Rolls.Summary.Advantage'}}</span><span class="count">{{results.netAdvantage}}</span>
                    </div>
                {{/if}}
                {{#if (gt results.netThreat 0)}}
                    <div class="summary-row">
                        <span class="label">{{localize 'Genesys.Rolls.Summary.Threat'}}</span><span class="count">{{results.netThreat}}</span>
                    </div>
                {{/if}}
                {{#if (gt results.totalTriumph 0)}}
                    <div class="summary-row">
                        <span class="label">{{localize 'Genesys.Rolls.Summary.Triumph'}}</span><span class="count">{{results.totalTriumph}}</span>
                    </div>
                {{/if}}
                {{#if (gt results.totalDespair 0)}}
                    <div class="summary-row">
                        <span class="label">{{localize 'Genesys.Rolls.Summary.Despair'}}</span><span class="count">{{results.totalDespair}}</span>
                    </div>
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>